body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #007BFF, #00BFFF);
  color: white;
  text-align: center;
  padding: 40px;
  margin: 0;
}

.container {
  background-color: #005723;
  border-radius: 15px;
  padding: 30px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.3);
}

h1 {
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 1px 1px 2px #00008B;
}

.clock {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 40px;
}

.stopwatch {
  margin-top: 20px;
}

#stopwatchDisplay {
  font-size: 2em;
  margin-bottom: 20px;
}

.buttons button {
  padding: 10px 20px;
  margin: 0 10px 10px;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  background-color: #0f0d0d;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:hover {
  background-color: #dd0000;
}
